.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #232323;
  border-radius: 0.3rem;
}

.header-font {
  font-family: 'Questrial', sans-serif;
  color: #f8f8ff;
}
