body {
  background-color: #080808
}

.jumbo {
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #212121;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 4.7em;
  color: #f8f8ff;
  font-weight: 100;
}

#miniHeader {
  font-size: 1.5em;
  text-align: center;
  color: #f8f8ff
}

.whatPWA {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #080808;
}
